---
import prefix from "docs/scripts/prefix"
import { Icon } from "astro-icon/components"

interface Props {
    id: string
}
const props = Astro.props
---

<h2 class={`${prefix}-title ${prefix}-font-serif`} id={props.id}>
    <a href={`#${props.id}`} class={`${prefix}-link ${prefix}-cannot-select`}>
        <Icon name="logo/outline/clover" />
        <span style="font-size:0">##</span>
    </a>
    <slot />
</h2>

<style lang="stylus">
a:focus-visible
    outline none
    filter drop-shadow(1pt 0 0 rgb(var(--primary-3)))\
        drop-shadow(-1pt 0 0 rgb(var(--primary-3)))\
        drop-shadow(0 1pt 0 rgb(var(--primary-3)))\
        drop-shadow(0 -1pt 0 rgb(var(--primary-3)))
    svg
        fill rgb(var(--outline-color-any--focus))
svg
    width 1em
    height 1em
    transform rotate(-37deg) rotateY(180deg)
</style>
